<h1>{{title}}</h1>
<p>{{description}}</p>
<form action="/contact" method='POST'>
    Nom : <input type="text" name='nom'><br>
    Prénom : <input type="text" name='prenom'><br>
    Adresse Courriel : <input type="email" name='email'><br>
    Numéro de Téléphone : <input type="text" name='phone'><br>
    Sujet de la demande : Inscription <input type="radio" name='subject' value='inscription'>
    Demande de formation <input type="radio" name='subject' value='Demande de formation'><br>
    Demande : <input type="text" name='demande'><br>
    <input type="submit" value='Envoyer ma demande'><br>
</form>