<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/formations">Nos formations</a></li>
      <li><a href="/blog">Notre blog</a></li>
      <li><a href="/contact">Nous contacter</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>